.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;               
  height: 100px;            
  padding: 0 2rem;        
  background-color: var(--primary-dark);

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;            
  box-sizing: border-box;   
  z-index: 1000;           
}

.container h1 {
  font-size: 2.2rem;
  font-weight: bolder;
  margin: 0;
}

.cartInfo {
  display: flex;
  align-items: center;   
  gap: 0.5rem;
  border-radius: 2rem;
  background-color: var(--primary-light);
  color: var(--primary-contrast-dark);
  padding: 0.4rem 0.8rem; 
  font-size: 1rem;
  font-weight: bold;
}

.cartIcon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cartCount {
  position: absolute;
  top: -0.4rem;
  right: -0.4rem;
  font-size: 0.75rem;
  border-radius: 50%;
  background-color: var(--primary-dark);
  color: var(--gray-100);
  padding: 0.2rem 0.5rem;
  font-weight: bold;
}

.link {
  text-decoration: none;
  color: inherit; 
}
.link:hover {
  text-decoration: underline;
  color: var(--primary-light);
}

header {
  background-color: #0d1b2a;
  color: white;
}



