.header {
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.fraseContainer {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.fraseContainer img {
    max-width: 20%;
    height: auto;
}

.title {
    font-size: 3.2rem;
    font-weight: bold;
    color: #450755;
}